
footer ul li {
  display: inline-block;
}

footer ul li a {
  color: inherit;
  padding: 0.9375rem;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  position: relative;
  display: block;
}

footer .copyright {
  font-size: 0.8rem;
  padding: 15px 0;
}

.secondary-footer-text {
  color: red;
  margin-left: -7px;
  text-transform: uppercase;
}
