<!-- FOOTER -->
<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="http://www.1x.ee/about">
            About Us
          </a>
        </li>
        <li>
          <a href="http://www.1x.ee/">
            Blog
          </a>
        </li>
        <li>
          <a href="http://www.1x.ee/">
            Shop
          </a>
        </li>

        <li>
          <a href="http://www.1x.ee/jobs">
            Jobs
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy; 2020 | 私の<span class="secondary-footer-text">店</span> | Watashi no Mise
    </div>
  </div>
</footer>
<!-- FOOTER END-->
