.navbar {
  margin: 2rem 0;
}

.primary-heading-text {
  font-weight: 700;
  text-transform: uppercase;
}


.secondary-heading-text {
  color: red;
  margin-left: -7px;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
}

.nav-item {
  font-weight: 700;
  margin-left: 7px;;
  text-transform: uppercase;
}

.active {
  font-weight: 400;
}

.nav-item:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.header-logo-bottom {
  font-size: 0.5rem;
  text-align: center;
  margin-top: -0.4rem;
}

.header-logo-top {
  font-size: 1.9rem;
  text-align: center;

}

