<!--<app-promo></app-promo>-->
<nav class="navbar navbar-expand-sm navbar-light bg-navbar">
  <a class="navbar-brand" href="/">
    <div class="header-logo-top">
      <span class="primary-heading-text">私の</span><span class="secondary-heading-text">店</span>
    </div>
    <div class="header-logo-bottom">
      Watashi no Mise
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/'" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Shop
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li *ngFor="let dynamicProductCategory of productCategories">
            <a class="dropdown-item" routerLink="/category/{{ dynamicProductCategory.id }}" routerLinkActive="active-link">
              {{ dynamicProductCategory.categoryName }}
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/blog'" routerLinkActive="active">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/about'" routerLinkActive="active">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/contact'" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>

</nav>

<router-outlet></router-outlet>
