<app-search class="ml-auto"></app-search>
<div class="container mt-5">
  <div class="row ">
    <div class="col-md-4 col-lg-3 col-sm-6 mb-5" *ngFor="let tempProduct of products">
      <div class="middle">
        <a routerLink="/products/{{ tempProduct.id }}" class="router-link">
          <img src="assets/images/products/{{ tempProduct.imageUrl }}.jpg" alt="product picture">
        </a>
      </div>
      <div class="bottom">
        <a routerLink="/products/{{ tempProduct.id }}" class="router-link">
        <div class="heading">{{ tempProduct.name | slice: 0:67}}...</div>
        </a>
        <div class="info">{{ tempProduct.description | slice: 0:250}}</div>
        <div class="price">{{ tempProduct.unitPrice | currency: 'EUR'}} <span
            class="old-price">{{ tempProduct.unitPrice * 1.2 | currency: 'EUR'}}</span></div>
      </div>
    </div>
    <div *ngIf="products?.length == 0" class="alert col-md-12" role="alert">
      <h4 class="text-center">Sorry - Nothing was Found</h4>
    </div>
  </div>
</div>
