<div class="header-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="header-item">
          <p><i class="fas fa-dolly fa-lg"></i> Free shipping on all orders within EU</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="header-item">
          <p><i class="fas fa-tags fa-lg"></i> 20% Student Discount on books</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="header-item">
          <p><i class="fas fa-gifts fa-lg"></i> All gifts are 30% off with code: OFF30OFF</p>
        </div>
      </div>
    </div>
  </div>
</div>
