<form action="">
  <div class="bg-light rounded rounded-pill shadow-sm mb-4">
    <div class="input-group">
      <input #myInput type="search"
      placeholder="Product Search"
      aria-describedby="srch"
        class="form-control border-0 bg-light"
        (keyup.enter)="doSearch(myInput.value)">
      <div class="input-group-append">
        <button id="srch" (click)="doSearch(myInput.value)"
        class="btn btn-link text-primary">
        <i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</form>
