<h2 class="my-3">Featured Article</h2>
  <div class="" *ngFor="let blog of blogs | async | slice: 0:1">
    <div class="card">
        <img class="card-img-top" src="{{ blog.imageUrl }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ blog.title | slice: 0:30 }}</h5>
          <p class="card-text">
            {{ blog.content }}
          </p>
          <p class="card-text text-muted text-right">Posted on: {{ blog.dateCreated }}</p>
        </div>

    </div>
  </div>


  <h2 class="mt-5">Latest Articles</h2>
<div class="row">
  <div class="col-md-6 col-lg-4 mt-3" *ngFor="let blog of blogs | async | slice: 1">
    <div class="card">
        <img class="card-img-top" src="{{ blog.imageUrl }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ blog.title  }}</h5>
          <p class="card-text">
            {{ blog.content | slice: 0:70}}... <a href="#">Continue reading</a>
          </p>
          <p class="card-text text-muted text-right">Posted on: {{ blog.dateCreated }}</p>
        </div>

    </div>
  </div>
</div>
